---
---
{% extends "base.njk" %}

{% block body %}
    <div class="container">
        <div class="half">
            <h1>{{ title }}</h1>
            <h2>{{ subtitle }}</h2>
        </div>
        <div class="half">
            {%- if mainPhoto is defined %}
            <img src="{{ mainPhoto }}" alt="Evgeny Metelkin">
            {%- endif %}
        </div>
    </div>
    
    <dev class="markdown-body">
        {{ content | safe }}
        <h3>All blog posts:</h3>
        <ul class="minlist">
        {% for post in collections.postPages %}
        <li>
            <div class="minrow">
            <a class="minlink" href="{{ post.url }}">{{ post.data.title }}</a>
            <time class="mindate" datetime="{{ post.date }}">{{ post.date | ymd }}</time>
            </div>
            {% if post.data.subtitle %}<div class="minsub">{{ post.data.subtitle }}</div>{% endif %}
        </li>
        {% endfor %}
        </ul>
        
    </dev>
{% endblock %}
