---
---
{% extends "base.njk" %}

{#
words:
    - ***
snapshot:
    - ***
mainPhoto: ***
#}

{% block body %}
    <div class="container">
        <div class="half">
            <h1>{{ title }}</h1>
            <h2>{{ subtitle }}</h2>
            {%- if words is defined %}
            <p><strong>{{ words | join(" | ") }}</strong></p>
            {%- endif %}
            {%- if snapshot is defined %}
            <h3>Snapshort:</h3>
            <ul>
                {%- for item in snapshot %}
                    <li>{{ item }}</li>
                {%- endfor %}
            </ul>
            {%- endif %}
        </div>
        <div class="half">
            {%- if mainPhoto is defined %}
            <img src="{{ mainPhoto }}" alt="Evgeny Metelkin">
            {%- endif %}
        </div>
    </div>
    
    <dev class="markdown-body">
        <h3>Recent posts:</h3>
        <ul class="minlist">
        {% for post in collections.featuredPages %}
        <li>
            <div class="minrow">
            <a class="minlink" href="{{ post.url }}">{{ post.data.title }}</a>
            <time class="mindate" datetime="{{ post.date }}">{{ post.date | ymd }}</time>
            </div>
            {% if post.data.subtitle %}<div class="minsub">{{ post.data.subtitle }}</div>{% endif %}
        </li>
        {% endfor %}
        </ul>
        {{ content | safe }}
    </dev>
{% endblock %}
