<!doctype html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6DBZB44BXE"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-6DBZB44BXE');
    </script>
    <!-- General -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <!-- SEO -->
    {%- if canonical is exist %}
    <link rel="canonical" href="{{ canonical }}" />
    {%- endif %}
    <!-- Style -->
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.min.css">
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/github-markdown-css@5.8.1/github-markdown-light.min.css">-->
    <style>
        //.markdown-body { max-width: 70ch; margin-inline: auto; padding: 2rem; }
        .container { display: flex; gap: 10px; }
        .half { box-sizing: border-box; }
        .half:first-child { width: 60%;}
        .half:last-child { width: 40%; }

        @media (max-width: 768px) {
            .container { flex-direction: column; }
            .half { width: 100% !important; }
            .half:last-child img { width: 100%; height: auto; display: block; }
        }
    </style>
    <!-- To highlight code -->
	<link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet"/>
</head>

<body>
    <div class="container">
        <div class="half">
            <h1>{{ title }}</h1>
            {%- if words is defined %}
            <p><strong>{{ words | join: " | " }}</strong></p>
            {%- endif %}
            {%- if snapshot is defined %}
            <h3>Snapshort:</h3>
            <ul>
                {%- for item in snapshot %}
                    <li>{{ item }}</li>
                {%- endfor %}
            </ul>
            {%- endif %}
        </div>
        <div class="half">
            {%- if main-photo is not empty %}
            <img src="{{ main-photo }}" alt="Evgeny Metelkin">
            {%- endif %}
        </div>
    </div>
    <dev class="markdown-body">
        {{ content}}
    </dev>
</body>
