---
---
{% extends "base.njk" %}

{#
license: CC-BY-4.0
licenseUrl: https://creativecommons.org/licenses/by/4.0/
#}

{% block body %}
    <p style="margin-bottom: 1rem;">
        <a href="/" style="text-decoration: none; font-weight: 600; font-size: 1.2rem;">
            ← Home
        </a>
    </p>
    <h1>{{ title }}</h1>
    <h2>{{ subtitle }}</h2>
    <div>
        <p><strong>{{ author }}</strong></p>
        <p><strong>{{ date.toISOString().slice(0, 10) }}</strong></p>
    </div>
    <dev class="markdown-body">
        {{ content | safe }}
    </dev>
    {%- if license is defined %}
    <dev>
        <p><strong>License: <a href="{{ licenseUrl }}" target="_blanc">{{ license }}</a></strong></p> 
    </dev>
    {%- endif %}
{% endblock %}